.title{
    text-align: center;
    color:blue;
    font-family:"Brush Script MT","sans-serif";
}

.link-homepage{
    text-align: center;
    font-family:"Brush Script MT","sans-serif";
}

.link-backhome{
    text-align: center;
    font-family:"Brush Script MT","sans-serif";
}

img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description{
    text-align: center;
    color:blue;
    font-family:"Brush Script MT","sans-serif";
    margin-left: 20%;
    margin-right: 20%;
}

.content{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    font-family:"Brush Script MT","sans-serif";
}